@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
      url('/fonts/AvenirNext-DemiBold.woff') format('woff'),
      url('/fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-UltraLight.woff2') format('woff2'),
      url('/fonts/AvenirNext-UltraLight.woff') format('woff'),
      url('/fonts/AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('/fonts/AvenirNext-Medium.woff') format('woff'),
      url('/fonts/AvenirNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
      url('/fonts/AvenirNext-MediumItalic.woff') format('woff'),
      url('/fonts/AvenirNext-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('/fonts/AvenirNext-Regular.woff') format('woff'),
      url('/fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

