$fontFamily: 'Avenir Next', sans-serif;

$backgroundColor: #eee;
$fontSize: 14px;
$color-purple: #7846C2;
$color-dark-purple: #3C268D;
$color-darkest-purple: #151C37;
$color-light-gray: #EEEEEE;
$color-tertiary-text: #999999;
$color-secondary-text: #333333;
$color-white: #fff;
$color-red: red;
$color-black: black;

$drawer-background-color: #111;

// Width
$drawerMenuWidth: 310px;

$headerHeight: 60px;
$logoHeight: 75px;
